[submodule "002_cdi"]
	path = 002_cdi
	url = git@github.com:2526-wmc-4ahif/hw-cdi-1-antoniosubasic.git
[submodule "003_rest_with_db"]
	path = 003_rest_with_db
	url = git@github.com:2526-wmc-4ahif/hw-rest-with-db-antoniosubasic.git
[submodule "004_quarkus_jpa"]
	path = 004_quarkus_jpa
	url = https://github.com/HTL-LEO-WMC/quarkus-orm-jpa-garden
[submodule "005_hw_quarkus_backend"]
	path = 005_hw_quarkus_backend
	url = git@github.com:2526-wmc-4ahif/hw-quarkus-backend-1-antoniosubasic.git
